[run]
source = .
omit =
    */tests/*
    */test_*.py
    *test*.py
    */__pycache__/*
    */venv/*
    */alembic/*
    */providers/*
    main.py
    */dtos.py
    */mappers.py
    */schemas.py
    */api/*
    server.py